{% extends "base.html" %}

{% block content %}

	<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js"></script>

    <!-- for testing with local version of cytoscape.js -->

    <!--<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>-->
    <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
    <script src="https://cytoscape.org/cytoscape.js-dagre/cytoscape-dagre.js"></script>


    <script>
		$(function(){
			var cy = window.cy = cytoscape({
				container: document.getElementById('cy'),
				boxSelectionEnabled: false,
				autounselectify: true,
				layout: {
					name: 'dagre'
				},
				elements: {
					nodes: [
						{% for node in graph.nodes %}
						{ data: { id: "{{ node.__repr__() }}" , name: "{{ node.__str__() }}" } },
						{% endfor %}
					],
					edges: [
						{% for edge in graph.edges %}
						{ data: { source: "{{ edge[0].__repr__() }}" , target: "{{ edge[1].__repr__() }}" } },
						{% endfor %}
					]
				},
				style: [
					{
						selector: 'node',
						style: {
							'background-color': '#11479e',
							'label': 'data(name)',
						}
					},
					{
					   selector: 'edge',
					   style: {
						 'width': 4,
						 'target-arrow-shape': 'triangle',
						 'line-color': '#9dbaea',
						 'target-arrow-color': '#9dbaea', // arrow color
						 'curve-style': 'bezier',
						 'label': 'data(name)'
					   }
					}
			]
	});
	});
	</script>
	</head>

    <title>cytoscape-dagre demo</title>

    <h1 id="demo">cytoscape-dagre demo</h1>
	<div id="cy"></div>


{% endblock %}
